<div class="container">
  <div class="login-box">
    <div class="login-name">
      <h1>Reset Password</h1>
      <div class="underline-name"></div>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="input-box">
        <div class="inputs">
          <input formControlName="reset_password_code" type="number" placeholder="Code" />
          <div class="underline-input"></div>
          <div *ngIf="resetPasswordForm.get('reset_password_code')?.invalid">
            <small *ngIf="resetPasswordForm.get('reset_password_code')?.errors?.['required']">Code is required.</small>
            <small *ngIf="resetPasswordForm.get('reset_password_code')?.errors?.['minlength']">Code must be at least 4 digits long.</small>
          </div>
        </div>

        <div class="inputs">
          <input formControlName="password" type="password" placeholder="New Password" />
          <div class="underline-input"></div>
          <div *ngIf="resetPasswordForm.get('password')?.invalid">
            <small *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required.</small>
            <small *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">Password must be at least 4 characters long.</small>
          </div>
        </div>

        <div class="inputs">
          <input formControlName="confirm_password" type="password" placeholder="Confirm Password" />
          <div class="underline-input"></div>
          <div *ngIf="resetPasswordForm.get('confirm_password')?.invalid">
            <small *ngIf="resetPasswordForm.get('confirm_password')?.errors?.['required']">Confirmation is required.</small>
          </div>
          <!-- This will check for the custom 'notMatching' error at the form group level -->
          <div *ngIf="resetPasswordForm.errors?.['notMatching']">
            <small>Passwords do not match.</small>
          </div>
        </div>

        <div class="submit-button">
          <input type="submit" value="Reset Password" [disabled]="resetPasswordForm.invalid">
        </div>
      </div>
    </form>
  </div>
</div>
