<div class="container">
  <div class="login-box">
    <div class="login-name">
      <h1>Forgot Password</h1>
      <div class="underline-name"></div>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <div class="input-box">
        <div class="inputs">
          <input formControlName="email" type="email" placeholder="Email" required />
          <div class="underline-input"></div>
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
            <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Invalid email format.</small>
          </div>
        </div>
        <div class="submit-button">
          <input type="submit" value="Reset Password" [disabled]="forgotPasswordForm.invalid">
        </div>
      </div>
      <a href="/auth/login" > Back to Login </a>
    </form>
  </div>
</div>
